# Dependências Node
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diretório de uploads (fotos enviadas)
server/uploads/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp

# Build (se você gerar dist ou build para front)
dist/
build/

server